# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.codex
.codex/
.venv
.venv/
venv/
env/
.env
.cache/
.matplotlib/

# LaTeX
*.aux
*.log
*.out
*.pdf
*.toc
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.gz
*.synctex.gz

# Data (Opcional: Si quieres que tus compañeros descarguen el excel por fuera)
# BaseUBER.xlsx
# movistar.xlsx
